.page1 {min-height: 100vh; background-color: darkcyan;}
.page2 {min-height: 150vh; background-color: darkkhaki;}
.page3 {min-height: 70vh; background-color: darkslategray;}
.page4 {min-height: 120vh; background-color: indianred;}

.content {opacity: 0;}
.content.active {opacity: 1;}