/********************** 글로벌 설정 *********************/
html, body {height: 20000px;}
.wrapper {max-width: 1200px; margin: auto;}


/**********************  *********************/
.header-wrapper {background-color: #eee;}

.navi-wrapper {display: flex; justify-content: space-between;}
.navi-wrapper > .logo {}
.navi-wrapper > .navi-wrap {display: flex;}
.navi-wrapper > .navi-wrap > .navi {}

.header-wrapper .logo {padding: 1em 1.5em;}
.header-wrapper .logo:hover {background-color: #444; color: #f9f9f9;}
.header-wrapper .navi-wrap .navi {padding: 1em 1.5em;}
.header-wrapper .navi-wrap .navi:hover {background-color: #444; color: #f9f9f9;}


.title {margin-top: 30px; font-size: 1.5em;}
.box-wrapper {background-color: bisque; margin-top: 10px; border: 2px solid red;}
.box-wrapper > .box {background-color: #032db4; width: 200px; height: 200px; border: 10px solid #6fb6f8; color: #6fb6f8; font-weight: bold; font-size: 50px; display: flex; justify-content: center; align-items: center;}

.box-wrapper.sample2 {height: 500px;}
.box-wrapper.sample2 > .box {width: 100px; height: auto;}

/********* flex options **********/
.box-wrapper {display: flex; flex-wrap: wrap;}
.box-wrapper1 {justify-content: flex-start;}
.box-wrapper2 {justify-content: center;}
.box-wrapper3 {justify-content: flex-end;}
.box-wrapper4 {justify-content: space-between;}
.box-wrapper5 {justify-content: space-evenly;}
.box-wrapper6 {justify-content: space-around;}

.box-wrapper7 {justify-content: center; align-items: stretch;}
.box-wrapper8 {justify-content: space-between; align-items: flex-start;}
.box-wrapper9 {justify-content: flex-start; align-items: flex-end;}
.box-wrapper10 {justify-content: space-evenly; align-items: center;}


/********* modal 정렬하기 **********/
.modal-wrapper {background-color: rgba(0, 0, 0, 0.8); width: 100%; height: 100vh;
	display: flex; justify-content: center; align-items: center;}
.modal-wrapper > .modal-wrap {width: 30%; height: 30vh; background-color: beige;}


/********* flex-direction **********/
.box-wrapper.sample3 {height: 500px;}
.box-wrapper.sample3 > .box {width: 100px; height: 100px;}
.box-wrapper.box-wrapper11 {display: flex; flex-direction: row;}
.box-wrapper.box-wrapper12 {display: flex; flex-direction: row-reverse;}
.box-wrapper.box-wrapper13 {display: flex; flex-direction: column; justify-content: center; align-items: flex-end;}
.box-wrapper.box-wrapper14 {display: flex; flex-direction: column-reverse; justify-content: center; align-items: center;}


/********* justify-items **********/
.box-wrapper.sample4 {height: 500px; justify-content: center; align-items: center;}
.box-wrapper.sample4 > .box {width: 120px; height: 80px; font-size: 1em; border-width: 3px;}

.box-wrapper.box-wrapper15 {align-content: normal;}
.box-wrapper.box-wrapper16 {align-content: center;}
.box-wrapper.box-wrapper17 {align-content: flex-start;}
.box-wrapper.box-wrapper18 {align-content: flex-end;}
.box-wrapper.box-wrapper19 {align-content: space-between;}
.box-wrapper.box-wrapper20 {align-content: space-around;}
.box-wrapper.box-wrapper21 {align-content: space-evenly;}
.box-wrapper.box-wrapper22 {align-content: stretch; align-items: stretch;}

.box-wrapper.box-wrapper22 > .box {height: auto;}







/********************** 반응형 설정 *********************/
@media (max-width: 1399px) {
	
}

@media (max-width: 1199px) {
	
}

@media (max-width: 991px) {
	
}

@media (max-width: 767px) {
	
}

@media (max-width: 575px) {
	
}