@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'Jost', sans-serif; */

/********************** 글로벌 설정 *********************/
html, body {font-size: 16px; font-family: 'Jost', 'Noto Sans KR', sans-serif; height: 10000px;}
.wrapper {width: 1368px; margin: auto; position: relative;}
.wrapper-lg {width: 1568px; margin: auto; position: relative;}
.wrapper-xl {width: 1768px; margin: auto; position: relative;}
.wrapper-all {max-width: 2560px; margin: auto; position: relative;}
.bt-ghost {padding: .875em 1.75em; border: 1px solid #999; color: #fff; transition: all .5s;}
.bt-ghost:hover {background-color: #fff; color: #b38859;}
.bt-ghost.gold {border: 1px solid #fff;}
.bt-ghost.gold:hover {background-color: #b38859; color: #fff !important;}
.bt-ghost.white {border: 1px solid #ccc; color: #999;}
.bt-ghost.white:hover {background-color: #b38859; color: #fff !important;}
.bt-ghost.angle::after {content: '〉'; display: inline-block; margin-left: .5em; margin-right: -.5em;}
.bt-anchor {text-decoration: underline;}
.bt-moving-top {width: 70px; height: 70px; border-radius: 50%; background-color: #111; color: #fff; display: flex; flex-direction: column; justify-content: center; align-items: center; position: fixed; right: 2em; bottom: 2em; opacity: 0; transform: translateY(calc(70px + 2em)); z-index: 98; line-height: 1.25; transition: all .35s;}
.bt-moving-top.active {opacity: 1; transform: translateY(0);}
.bt-moving-top > i {transition: all .35s;}
.bt-moving-top:hover {background-color: #222;}
.bt-moving-top:hover > i {transform: translateY(-0.25em);}

.pager-wrapper .pager,
.pager-wrapper .swiper-pagination-bullet {border: 1px solid #fff; border-radius: 50%; background-color: #ccc; width: 14px;  height: 14px; margin: 0 4px; cursor: pointer; display: inline-block; transition: all .5s; transform: scale(.6); opacity: 1;}
.pager-wrapper .pager.active,
.pager-wrapper .swiper-pagination-bullet-active {border: 1px solid #fff; background-color: transparent; transform: scale(1); opacity: 1;}
.bt-slide {background-color: #ddd; color: #777; width: 60px; height: 60px; position: absolute; top: calc(50% - 30px); z-index: 90; border-radius: 50%; display: flex; align-items: center; justify-content: center; font-size: 2em; cursor: pointer;}
.bt-slide.gold {background-color: rgba(0, 0, 0, .5); color: #fff; transition: all .5s;}
.bt-slide.gold:hover {background-color: #b38859;}
.bt-slide.left {left: 0;}
.bt-slide.right {right: 0;}




/********************** notice-wrapper *********************/
.notice-wrapper {width: 100%; background-color: #28354b; color: #fff;}
.notice-wrapper .notice-wrap {display: flex; padding: 1em 0; align-items: center;}
.notice-wrapper .notice-wrap > .notice-bullet {font-size: .875em; color: #b38859; width: 4rem;}
.notice-wrapper .notice-wrap > .notice-title {font-size: 1.25em; margin-right: .5rem;}
.notice-wrapper .notice-wrap > .bt-show {cursor: pointer; margin-right: auto;}
.notice-wrapper .notice-wrap > .bt-hide {cursor: pointer; margin-right: auto;}
.notice-wrapper .notice-wrap > .bt-close {font-size: 1.75em; cursor: pointer;}

.notice-wrapper .notice-content {padding-left: 4rem;}
.notice-wrapper .notice-content > .content {font-size: 1.125em; line-height: 1.5; color: #bbb; margin-bottom: 1.5em;} 
.notice-wrapper .notice-content > .bt-wrap {padding-bottom: 2em; display: flex; justify-content: space-between; align-items: flex-end;} 
.notice-wrapper .notice-content .bt-today {color: #fff;}


/********************** header-wrapper *********************/
.header-wrapper {color: #fff; position: fixed; width: 100%; transition: top 0.35s; z-index: 99;  top: 0;}

.header-wrapper .link-wrapper {border-bottom: 1px solid rgba(255,255,255, .1);}
.header-wrapper .link-wrap {padding: 1em 0; display: flex; justify-content: flex-end; align-items: center;}
.header-wrapper .link-wrap > .link {font-weight: 300; user-select: none;}
.header-wrapper .link-wrap > .link:hover {color: rgba(0,0,0,.75);}
.header-wrapper .link-wrap > .link:not(.link-lang) {border-right: 1px solid #ddd; padding: 0 1.5em;}
.header-wrapper .link-lang {padding-left: 1.5em; position: relative;}
.header-wrapper .link-lang > .sel {cursor: pointer;}
.header-wrapper .link-lang > .hover {background-color: #fff; position: absolute; z-index: 1; min-width: 100%; padding: 1em; left: .5em; cursor: pointer; display: none;}
.header-wrapper .link-lang > .hover > .lang {margin-top: .75em;}
.header-wrapper .link-lang .bt-lang::before {transition: transform 1s; font-size: .75em}
.header-wrapper .link-lang:hover .bt-lang::before {transform: rotate(180deg);}

.header-wrapper .navi-wrapper > .wrapper {display: flex;}
.header-wrapper .logo-wrap {order: 2; flex: 254px 0 0; padding: 1.5em 0;}
.header-wrapper .logo-color {display: none;}
.header-wrapper .navi-wrap {flex: 0 0 calc(50% - 127px); display: flex;}
.header-wrapper .navi-wrap-lt {order: 1;}
.header-wrapper .navi-wrap-rt {order: 3; justify-content: flex-end;}
.header-wrapper .navi {padding: 0 2em; position: relative; display: flex; align-items: center;}
.header-wrapper .navi.has-sub.active::after {width: 40px; height: 2px; background-color: #b38859; content: ''; display: block; position: absolute; transform-origin: left; transform: rotate(90deg); top: 70px; left: calc(50% - 1px);}
.header-wrapper .navi > a {font-size: 1.125em; text-shadow: 0 0 8px rgba(0,0,0,.75);}
.header-wrapper .navi:first-child {margin-left: 0;}
.header-wrapper .navi:last-child {margin-right: 0;}
.header-wrapper .navi > .sub-wrapper {position: absolute; background-color: #fff; padding: 3em 2.5em; top: 92px; border-top: 1px solid #ddd; color: #666;}
.header-wrapper .sub-wrap h3.title {font-family: 'Jost', 'Noto Sans KR', sans-serif; color: #222; font-size: 1.25em; padding-bottom: 1em; display: flex; align-items: center;}
.header-wrapper .sub-wrap h3.title::before {content: '·'; display: block; margin-top: -0.25em;  font-size: 2em; margin-right: 0.25em;}
.header-wrapper .sub-wrap .list-wrap {font-size: 1.125em; padding-left: 1em; margin-bottom: 1em; display: flex;}
.header-wrapper .sub-wrap .lists {flex: auto 1 0; padding: 0 3em;}
.header-wrapper .sub-wrap .lists:first-child {padding-left: 0;}
.header-wrapper .sub-wrap .lists:last-child {padding-right: 0;}
.header-wrapper .sub-wrap .lists:not(:last-child) {border-right: 1px solid #ddd;}
.header-wrapper .sub-wrap h4.title {margin-bottom: 1em;}
.header-wrapper .sub-wrap h4.title::after {width: 20px; height: 2px; background-color: #b38859; content: ''; display: block; margin-top: 0.75em;}
.header-wrapper .sub-wrap .list {margin-bottom: 1em;}

.header-wrapper .navi > .sub-wrapper.stay {width: 540px; left: -50px; display: none;}
.header-wrapper .navi > .sub-wrapper.wine {width: 1100px; left: -220px; display: none;}
.header-wrapper .navi > .sub-wrapper.things {width: 600px; right: -210px; display: none;}


.header-wrapper:hover,
.header-wrapper.active {color: rgba(0,0,0,.5); background-color: #fff;}
.header-wrapper:hover .link-wrapper,
.header-wrapper.active .link-wrapper {border-bottom: 1px solid #ddd;}
.header-wrapper:hover .logo-white,
.header-wrapper.active .logo-white {display: none;}
.header-wrapper:hover .logo-color,
.header-wrapper.active .logo-color {display: inline-block;}
.header-wrapper:hover .bt-ghost.gold,
.header-wrapper.active .bt-ghost.gold {color: #b38859; border: 1px solid #b38859;}
.header-wrapper:hover .navi > a,
.header-wrapper.active .navi > a {text-shadow: none; color: #111;}
.header-wrapper:hover .navi:hover > a,
.header-wrapper.active .navi:hover > a {color: #b38859;}


/********************** footer-wrapper *********************/
.footer-wrapper {background-color: #232d3a; color: #849099; padding: 5em 0; z-index: 3; position: relative;}
.footer-wrapper .wrapper {display: flex;}
.footer-wrapper .wrapper > :nth-child(1) {flex: 30% 0 0; padding-right: 4em; border-right: 1px solid #3c4449; line-height: 1.5;}
.footer-wrapper .wrapper > :nth-child(2) {flex: 40% 0 0; padding: 0 4em; border-right: 1px solid #3c4449;}
.footer-wrapper .wrapper > :nth-child(3) {flex: 30% 0 0; padding-left: 4em;}

.footer-wrapper h1.logo {margin-bottom: 2em;}
.footer-wrapper .info {margin-bottom: 2em; font-weight: 300;}

.footer-wrapper h2.title {font-size: 1.125em; color: #ddd; margin-bottom: 1.875em;}
.footer-wrapper h2.title::after {display: block; content: ''; width: 30px; height: 2px; background-color: #ddd; margin-top: .5em;}

.footer-wrapper .wrapper > :nth-child(2) > div {margin-bottom: .75em; font-size: 1.125em;}
.footer-wrapper .wrapper > :nth-child(2) > address {margin-bottom: 2em; font-size: 1.125em;}
.footer-wrapper .sns-wrap {display: flex; align-items: center;}
.footer-wrapper .sns {display: inline-block; width: 30px; height: 30px; line-height: 30px; text-align: center; color: inherit; font-size: 1em; margin-right: 1em; cursor: pointer;}
.footer-wrapper .sns-naver {background: url(../img/index/naver.png) no-repeat center; background-size: auto 1em; opacity: .7;}
.footer-wrapper .sns-kakao {background: url(../img/index/kakao.png) no-repeat center; background-size: auto 1em; opacity: .7;}
.footer-wrapper .sns-weixin {position: relative; opacity: .7;}
.footer-wrapper .sns-weixin > .qr-wrap {position: absolute; border: 3px solid #b38859; left: 50%; bottom: calc(100% + 20px); transform: translateX(-50%); z-index: 100; display: none;}
.footer-wrapper .sns-weixin:hover > .qr-wrap {display: block;}
.footer-wrapper .sns-weixin > .qr-wrap::after {display: block; content: ''; width: 0px; height: 0px; border-bottom: 12px solid none; border-top: 12px solid #b38859; border-right: 12px solid transparent; border-left: 12px solid  transparent; position: absolute; bottom: -12px; left: calc(50% - 12px)}

.footer-wrapper .link-wrap {display: flex;}
.footer-wrapper .link-wrap > div {flex: 50% 0 0; display: flex; flex-direction: column;}
.footer-wrapper .link-wrap > div > a {font-size: 1.125em; margin-bottom: .75em;}


/********************** modal-wrapper *********************/
.modal-wrapper {width: 100%; height: 100vh; position: fixed; z-index: 199; top: 0; left: 0; background-color: rgba(0,0,0,.85); display: none;}
.modal-wrapper > .modal-stage {width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;}
.modal-wrapper .bt-close {cursor: pointer;}




/********************** 반응형 설정 *********************/
@media (max-width: 1799px) {
	.wrapper-xl {width: calc(100% - 2rem); margin: 0 1rem;}
}

@media (max-width: 1599px) {
	.wrapper-lg {width: calc(100% - 2rem); margin: 0 1rem;}
}

@media (max-width: 1399px) {
	.wrapper {width: calc(100% - 2rem); margin: 0 1rem;}
}

@media (max-width: 1199px) {
	
}

@media (max-width: 991px) {
	
}

@media (max-width: 767px) {
	
}

@media (max-width: 575px) {
	
}