@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/********************** 글로벌 설정 *********************/
html, body {font-size: 16px; font-family: 'Noto Sans KR', sans-serif;}
.wrapper {width: 1368px; margin: auto;}



/********************** header-wrapper *********************/
.header-wrapper {background-color: #28354b; color: #f9f9f9;}
.header-wrapper .notice-wrap {display: flex; padding: 1em 0; align-items: center;}
.header-wrapper .notice-wrap > .notice-bullet {font-size: .875em; color: #b38859; width: 4rem;}
.header-wrapper .notice-wrap > .notice-title {font-size: 1.25em; margin-right: .5rem;}
.header-wrapper .notice-wrap > .bt-down {cursor: pointer; margin-right: auto;}
.header-wrapper .notice-wrap > .bt-close {font-size: 1.75em; cursor: pointer;}

.header-wrapper .notice-content {padding-left: 4rem;} 


/********************** footer-wrapper *********************/



/********************** modal-wrapper *********************/



/********************** 반응형 설정 *********************/
@media (max-width: 1399px) {
	.wrapper {width: calc(100% - 2rem); margin: 0 1rem;}
}

@media (max-width: 1199px) {
	
}

@media (max-width: 991px) {
	
}

@media (max-width: 767px) {
	
}

@media (max-width: 575px) {
	
}