body > section {position: relative; z-index: 3; background-color: #fff;}

/********************** main-wrapper *********************/
.main-wrapper {width: 100%; height: 100vh;}
.main-wrapper .slide-stage {width: 100%; height: 100vh; overflow: hidden; position: fixed; z-index: 1;}
.main-wrapper .slide-wrap {position: relative; width: 100%; height: 100%; z-index: 1;}
.main-wrapper .slide {width: 100%; height: 100%; position: absolute; top: 0; left: 0; overflow: hidden; z-index: 1;}
.main-wrapper .slide > img,
.main-wrapper .slide > video
{min-width: 100%; min-height: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}

.main-wrapper .slide .slide-body {width: 100%; position: absolute; top: 50%; transform: translateY(-50%); text-align: center; display: flex; flex-direction: column; align-items: center;}
.main-wrapper .slide .slide-title {font-size: 4.5em; font-weight: 500; color: #fff; padding-bottom: 0.75em; text-shadow: 1px 1px 2px rgba(0, 0, 0, .7);}
.main-wrapper .slide .bt-video {font-size: 1.25em; color: #fff; display: flex; align-items: center; justify-content: center; cursor: pointer; padding-top: 5px;}
.main-wrapper .slide .bt-video i {font-size: 1.25em; margin-right: 0.5em; margin-top: -5px;}

.main-wrapper .slide .ani-stage {overflow: hidden;}
.main-wrapper .slide .ani-stage > * {transition: transform .5s; transform: translateY(150%);}
.main-wrapper .slide.active .ani-stage > * {transform: translateY(0);}
.main-wrapper .slide.active .slide-desc {transition-delay: .35s;}

.main-wrapper .pager-slide {position: absolute; z-index: 2; bottom: 30%; left: 50%; transform: translateX(-50%);}

.main-wrapper .info-stage {position: fixed; width: 100%; z-index: 2; left: 0; bottom: 0;  display: flex; justify-content: center;}
.main-wrapper .info-wrap {display: flex; justify-content: center; align-items: center; border-top: 1px solid rgba(255, 255, 255, 0.25);}
.main-wrapper .info-stage .info {padding: 0 4em; color: rgba(255, 255, 255, 0.5); cursor: pointer; animation: infoAni 0.35s forwards; transform: translateY(200%);}
.main-wrapper .info-stage .info:nth-child(1),
.main-wrapper .info-stage .info:nth-child(2) {border-right: 1px solid rgba(255, 255, 255, 0.25);}
.main-wrapper .info-stage .info:hover {color: rgba(255, 255, 255, 1);}
.main-wrapper .info-stage .info > div {display: flex; justify-content: center;}
.main-wrapper .info-stage .info > div > .cnt {font-size: 3em; margin-left: 0.25em;}
.main-wrapper .info-stage .info > h3 {padding-top: 1em; text-align: center;}
.main-wrapper .info-stage .weather {color: #fff; padding: 1.5em; text-align: center; background-color: rgba(255, 255, 255, .3); animation: infoAni 0.35s forwards; transform: translateY(200%);}
.main-wrapper .info-stage .weather .icon {font-size: 2em;}
.main-wrapper .info-stage .weather .temp {font-size: 2em;}
.main-wrapper .info-stage .weather .date {margin-top: 1em; line-height: 1.25;}
.main-wrapper .info-stage .weather .time {line-height: 1.25;}
.main-wrapper .info-stage .weather .time span {font-size: 1.25em; font-weight: 500;}
.main-wrapper .info-stage .weather .time small {font-size: 1em;}

.main-wrapper .info-stage .info:nth-child(1) {animation-delay: 2s;}
.main-wrapper .info-stage .info:nth-child(2) {animation-delay: 2.15s;}
.main-wrapper .info-stage .info:nth-child(3) {animation-delay: 2.3s;}
.main-wrapper .info-stage .weather:nth-child(4) {animation-delay: 2.45s;}
@keyframes infoAni {
	0% {transform: translateY(200%);}
	100% {transform: translateY(0);}
}


/********************** dream-wrapper *********************/



/********************** promo-wrapper *********************/



/********************** style-wrapper *********************/



/********************** room-wrapper *********************/



/********************** svc-wrapper *********************/



/********************** sns-wrapper *********************/



/********************** contact-wrapper *********************/



/********************** cookie-wrapper *********************/
.cookie-wrapper {position: fixed; z-index: 100; width: 100%; left: 0; bottom: 0; background: rgba(0, 0, 0, .7); backdrop-filter: blur(6px); padding: 3em 0; color: #fff;}
.cookie-wrapper .cont-wrap {display: flex; justify-content: space-between;}
.cookie-wrapper .cont-wrap > p {flex: 90% 0 1; font-size: 1.125em; font-weight: 300; line-height: 1.75; margin-bottom: 1em;}
.cookie-wrapper .cont-wrap > i {font-size: 2em; cursor: pointer;}


/********************** modal-wrapper *********************/
.modal-video .modal-wrap {flex: 80% 0 1;}
.modal-video .modal-top {padding: .5em 0; font-size: 2em; color: #ddd; text-align: right;}
.modal-video .modal-center video {width: 100%;}
.modal-video .modal-bottom {padding: 2em 0; text-align: center;}



/********************** 반응형 설정 *********************/
@media (max-width: 1399px) {
	
}

@media (max-width: 1199px) {
	
}

@media (max-width: 991px) {
	
}

@media (max-width: 767px) {
	
}

@media (max-width: 575px) {
	
}