.wrapper-all > section {position: relative; z-index: 3; background-color: #fff; padding: 5em 0; width: 100%; overflow: hidden;}
.title-wrap {text-align: center; margin-bottom: 3em;}
.title-wrap h2.title {font-size: 3.5em; margin-bottom: .25em; font-family: 'Jost', sans-serif; letter-spacing: .05em;}
.title-wrap h3.title {font-size: 2em; margin-bottom: .175em;}
.title-wrap h4.title {font-size: 1.125em; margin-bottom: .125em; color: #888;}

.slide-stage .box {width: 200%; height: 100%; position: absolute; top: 0; z-index: 15;}
.slide-stage .box.left {background-image: linear-gradient(to left, rgba(255, 255, 255, .7), rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1));}
.slide-stage .box.right {background-image: linear-gradient(to right, rgba(255, 255, 255, .7), rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1));}

/********************** main-wrapper *********************/
.main-wrapper {width: 100%; height: 100vh;}
.main-wrapper .slide-stage {width: 100%; height: 100vh; overflow: hidden; position: fixed; z-index: 1;}
.main-wrapper .slide-wrap {position: relative; width: 100%; height: 100%; z-index: 1;}
.main-wrapper .slide {width: 100%; height: 100%; position: absolute; top: 0; left: 0; overflow: hidden; z-index: 1;}
.main-wrapper .slide > img,
.main-wrapper .slide > video
{min-width: 100%; min-height: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}

.main-wrapper .slide .slide-body {width: 100%; position: absolute; top: 50%; transform: translateY(-50%); text-align: center; display: flex; flex-direction: column; align-items: center;}
.main-wrapper .slide .slide-title {font-size: 4.5em; font-weight: 500; color: #fff; padding-bottom: 0.75em; text-shadow: 1px 1px 2px rgba(0, 0, 0, .7);}
.main-wrapper .slide .bt-video {font-size: 1.25em; color: #fff; display: flex; align-items: center; justify-content: center; cursor: pointer; padding-top: 5px;}
.main-wrapper .slide .bt-video i {font-size: 1.25em; margin-right: 0.5em; margin-top: -5px;}

.main-wrapper .slide .ani-stage {overflow: hidden;}
.main-wrapper .slide .ani-stage > * {transition: transform .5s; transform: translateY(150%);}
.main-wrapper .slide.active .ani-stage > * {transform: translateY(0);}
.main-wrapper .slide.active .slide-desc {transition-delay: .35s;}

.main-wrapper .pager-slide {position: absolute; z-index: 2; bottom: 30%; left: 50%; transform: translateX(-50%);}

.main-wrapper .info-stage {position: fixed; width: 100%; z-index: 2; left: 0; bottom: 0;  display: flex; justify-content: center;}
.main-wrapper .info-wrap {display: flex; justify-content: center; align-items: center; border-top: 1px solid rgba(255, 255, 255, 0.25);}
.main-wrapper .info-stage .info {padding: 0 4em; color: rgba(255, 255, 255, 0.5); cursor: pointer; animation: infoAni 0.35s forwards; transform: translateY(200%);}
.main-wrapper .info-stage .info:nth-child(1),
.main-wrapper .info-stage .info:nth-child(2) {border-right: 1px solid rgba(255, 255, 255, 0.25);}
.main-wrapper .info-stage .info:hover {color: rgba(255, 255, 255, 1);}
.main-wrapper .info-stage .info > div {display: flex; justify-content: center;}
.main-wrapper .info-stage .info > div > .cnt {font-size: 3em; margin-left: 0.25em;}
.main-wrapper .info-stage .info > h3 {padding-top: 1em; text-align: center;}
.main-wrapper .info-stage .weather {color: #fff; padding: 1.5em; text-align: center; background-color: rgba(255, 255, 255, .3); animation: infoAni 0.35s forwards; transform: translateY(200%);}
.main-wrapper .info-stage .weather .icon {font-size: 2em;}
.main-wrapper .info-stage .weather .temp {font-size: 2em;}
.main-wrapper .info-stage .weather .date {margin-top: 1em; line-height: 1.25;}
.main-wrapper .info-stage .weather .time {line-height: 1.25;}
.main-wrapper .info-stage .weather .time span {font-size: 1.25em; font-weight: 500;}
.main-wrapper .info-stage .weather .time small {font-size: 1em;}

.main-wrapper .info-stage .info:nth-child(1) {animation-delay: 2s;}
.main-wrapper .info-stage .info:nth-child(2) {animation-delay: 2.15s;}
.main-wrapper .info-stage .info:nth-child(3) {animation-delay: 2.3s;}
.main-wrapper .info-stage .weather:nth-child(4) {animation-delay: 2.45s;}
@keyframes infoAni {
	0% {transform: translateY(200%);}
	100% {transform: translateY(0);}
}


/********************** dream-wrapper *********************/
.dream-wrapper {background-image: linear-gradient(#fff, #fff 40%, #eee 40%, #eee); overflow: hidden;}
.dream-wrapper .slide-stage {position: relative; margin-bottom: 6em;}
.dream-wrapper .slide-stage > .slide-container {width: calc(100% - 40px); margin-left: 20px;}
.dream-wrapper .slide-stage .slick-list {overflow: visible;}
.dream-wrapper .slide-stage .slide {cursor: pointer; margin: 0 20px;}
.dream-wrapper .slide-stage .cont-wrap {padding: 8%; min-height: 220px; position: relative; background-color: #fff; border: 1px solid #ddd;}
.dream-wrapper .slide-stage .img-wrap {overflow: hidden;}
.dream-wrapper .slide-stage .img-wrap > .ratio-bg {transition: all 1s;}
.dream-wrapper .slide-stage .img-wrap:hover > .ratio-bg {transform: scale(1.1);}
.dream-wrapper .slide-stage .cont-wrap .title {font-size: 1.75em; margin-bottom: 0.5em;}
.dream-wrapper .slide-stage .cont-wrap .desc {font-size: 1.125em; color: #888; line-height: 1.5;}
.dream-wrapper .slide-stage .cont-wrap .tag {font-size: 1em; color: #fff; background-color: #ff5100; padding: 0 .75em; position: absolute; height: 26px; line-height: 26px; border-radius: 13px; top: -13px; left: 10%;}
.dream-wrapper .slide-stage .slick-dots {bottom: -3em;}
.dream-wrapper .slide-stage .slick-dots li.slick-active {border: 1px solid #b38859;}

.dream-wrapper .slide-stage .box.left {left: calc(-200% + 1px);}
.dream-wrapper .slide-stage .box.right {right: calc(-200% + 1px);}

.dream-wrapper .bt-wrap {text-align: center;}
.dream-wrapper .bt-wrap .bt-ghost.white {padding: 1em 3em;}


/********************** promo-wrapper *********************/
.promo-wrapper {padding: 12em 0;}
.promo-wrapper .slide-stage {position: relative; margin-bottom: 6em;}
.promo-wrapper .slide-stage > .swiper-container {width: calc(100% - 60px); overflow: hidden;}
.promo-wrapper .slide-stage > .swiper-container > .swiper-wrapper {width: 100%;}
.promo-wrapper .slide-stage .slide {cursor: pointer;}
.promo-wrapper .slide-stage .cont-wrap {padding: 8% 0; border-bottom: 1px solid #ddd;}
.promo-wrapper .slide-stage .img-wrap {overflow: hidden;}
.promo-wrapper .slide-stage .img-wrap > .ratio-bg {transition: all 1s;}
.promo-wrapper .slide-stage .img-wrap:hover > .ratio-bg {transform: scale(1.1);}
.promo-wrapper .slide-stage .cont-wrap .title {margin-bottom: 0.5em; color: #b38859;}
.promo-wrapper .slide-stage .cont-wrap .desc {font-size: 1.5em; color: #333; line-height: 1.25;}

.promo-wrapper .bt-wrap {text-align: center;}
.promo-wrapper .bt-wrap .bt-ghost.white {padding: 1em 3em;}


/********************** style-wrapper *********************/
section.style-wrapper {background-color: #f5f0e7; padding: 5em 0 0 0;}
.style-wrapper .list-wrap {display: flex;}
.style-wrapper .list {flex: 0 0 33.3333%; position: relative;}
.style-wrapper .list .hover-bg {background-color: rgba(179, 136, 89, 0.95); opacity: 0; width: 100%; height: 100%; position: absolute; top: 0; left: 0; transition: all .5s;}
.style-wrapper .list:hover .hover-bg {opacity: 1;}

.style-wrapper .list .hover-cont {width: 100%; height: 100%; position: absolute; top: 0; left: 0; display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 10%; color: #fff;}
.style-wrapper .list .title {font-size: 2.5em;}
.style-wrapper .list .bar {}
.style-wrapper .list .content {font-size: 1.125em; width: 80%; line-height: 1.5; text-align: center;}
.style-wrapper .list .bt-ghost {border: 1px solid #fff;}
.style-wrapper .list .bt-wrap {width: 80%;}
.style-wrapper .list .bt-wrap > div {display: flex; flex-wrap: wrap; justify-content: space-between;}
.style-wrapper .list .bt-wrap .bt-ghost {margin-bottom: 10px; flex: 0 0 calc(50% - 5px);}
.style-wrapper .list .bt-wrap .bt-ghost:last-child {flex: 0 0 100%;}

/* moving-aniamtion */
.style-wrapper .list .bar {width: 30px; height: 2px; background-color: #fff; margin: 0; transition: transform .5s; transform: scaleX(0);}
.style-wrapper .list .moving-stage {width: 100%; overflow: hidden; height: 0; margin-bottom: 0;}
.style-wrapper .list .moving-box {transition: all .5s; transform: translateY(100%); opacity: 0;}
.style-wrapper .list:hover .bar {transform: scaleX(1); margin: 2em auto 1.5em auto;}
.style-wrapper .list:hover .moving-stage {height: auto;}
.style-wrapper .list:hover .moving-stage.content {margin-bottom: 2.5em;}
.style-wrapper .list:hover .moving-box { transform: translateY(0); opacity: 1;}




/********************** room-wrapper *********************/
.room-wrapper .slide-stage {position: relative; margin-bottom: 6em;}
.room-wrapper .slide-stage .slide-bg {
	background-image: linear-gradient(to right, #28354b, #28354b 60%, #fff 60%, #fff);}
.room-wrapper .slide-stage .swiper-container {width: calc(90% - 60px); transform: translate(45%, 10%);}
.room-wrapper .slide-stage .pager-slide {text-align: center; margin-top: 5em; position: absolute; width: 100%;}
.room-wrapper .slide-stage .pager-slide .swiper-pagination-bullet-active {border: 1px solid #b38859;}
.room-wrapper .desc-wrapper {position: absolute; width: 35%; height: 100%; top: 0; left: 80px; display: flex; flex-direction: column; justify-content: center; align-items: flex-start; color: #fff;}
.room-wrapper .desc-wrapper .tag {width: 100%; color: #b38859; font-size: 1.125em; margin-bottom: .5em;}
.room-wrapper .desc-wrapper .title {width: 100%; font-size: 2.5em; margin-bottom: .5em;}
.room-wrapper .desc-wrapper .desc {width: 100%; font-size: 1.125em; color: #999; line-height: 1.5; font-weight: 300; margin-bottom: 1em;}
.room-wrapper .desc-wrapper .bt-ghost {border: 1px solid #fff;}
.room-wrapper .desc-wrapper .moving-stage {overflow: hidden;}
.room-wrapper .desc-wrapper .moving-box {transition: all .35s; transform: translateY(100%);}
.room-wrapper .desc-wrapper .moving-box.active {transform: translateY(0);}


/********************** svc-wrapper *********************/
.svc-wrapper {background-image: linear-gradient(#f5f5f5, #f5f5f5 55%, #fff 55% , #fff); padding-bottom: 10em;}
.svc-wrapper .title-wrap.wrapper {text-align: left; margin-top: 4em;}
.svc-wrapper .title-wrap.wrapper h3.title {font-size: 2.75em; margin-bottom: .5em;}
.svc-wrapper .title-wrap.wrapper h4.title {font-weight: 300;}
.svc-wrapper .slide-stage .swiper-container {overflow: visible;}
.svc-wrapper .slide-stage .img-wrap {margin-bottom: 2em;}
.svc-wrapper .slide-stage h4.title {font-size: 2em; color: #444;}

.svc-wrapper .slide-stage .box.left {left: calc(-200% - 39px);}
.svc-wrapper .slide-stage .box.right {right: calc(-200% - 39px);}

.svc-wrapper .slide-stage .slide {transition: transform .6s;}
.svc-wrapper .slide-stage .slide.active {transform: translateY(-20%);}


/********************** sns-wrapper *********************/
section.sns-wrapper {background-color: #f5f5f5;}
.sns-wrapper .slide-stage {margin-bottom: 2em;}
.sns-wrapper .slide-stage .swiper-container {overflow: visible;}
.sns-wrapper .slide {cursor: pointer;}
.sns-wrapper .slide .icon {position: absolute; top: .75em; right: .75em; color: #fff; font-size: 1.125em;}
.sns-wrapper .slide-stage .box.left {left: -200%;}
.sns-wrapper .slide-stage .box.right {right: -200%;}
.sns-wrapper .desc-wrapper { display: flex; justify-content: center; color: #666;}
.sns-wrapper .desc-wrapper .desc {font-size: 2.25em; font-weight: 300;}
.sns-wrapper .desc-wrapper .divide {border-left: 1px solid #ccc; margin: 0 5em;}
.sns-wrapper .desc-wrapper .sns-wrap {display: flex; align-items: center;}
.sns-wrapper .desc-wrapper .sns {display: inline-block; width: 50px; height: 50px; line-height: 50px; text-align: center;border-radius: 50%; border: 1px solid #ccc; color: #888; font-size: 1.25em; margin: 0 1em; transition: background-color .35s, color .35s; cursor: pointer;}
.sns-wrapper .sns-naver {background: url(../img/index/naver.png) no-repeat center; background-size: auto 1.25em;}
.sns-wrapper .sns-kakao {background: url(../img/index/kakao.png) no-repeat center; background-size: auto 1.25em;}

.sns-wrapper .desc-wrapper .sns:hover {border: #eb7e34; background-color: #eb7e34; color: #fff;}
.sns-wrapper .sns-naver:hover {background: url(../img/index/naver-hover.png) no-repeat center; background-size: auto 1.25em;}
.sns-wrapper .sns-kakao:hover {background: url(../img/index/kakao-hover.png) no-repeat center; background-size: auto 1.25em;}
.sns-wrapper .sns-weixin {position: relative;}
.sns-wrapper .sns-weixin > .qr-wrap {position: absolute; border: 3px solid #b38859; left: 50%; bottom: calc(100% + 20px); transform: translateX(-50%); z-index: 100; display: none;}
.sns-wrapper .sns-weixin:hover > .qr-wrap {display: block;}
/* 
.sns-wrapper .sns-weixin > .qr-wrap::after {display: block; content: '▼'; color: #b38859; font-size: 1.25em; position: absolute; bottom: -1.25em; left: 50%; transform: translateX(-50%);} 
*/
.sns-wrapper .sns-weixin > .qr-wrap::after {display: block; content: ''; width: 0px; height: 0px; border-bottom: 12px solid none; border-top: 12px solid #b38859; border-right: 12px solid transparent; border-left: 12px solid  transparent; position: absolute; bottom: -12px; left: calc(50% - 12px)}


/********************** contact-wrapper *********************/
.contact-wrapper {text-align: left;}
.contact-wrapper > .wrapper {display: flex; justify-content: space-between;}
.contact-wrapper > .wrapper > div {flex: 49% 0 0; position: relative;}
/*
.contact-wrapper .letter-wrapper .title-wrap {background-image: url(../img/index/bg_news.jpg);  background-position: center; background-size: cover; overflow: hidden; height: 0; padding-top: 56.25%; margin: 0; position: relative; color: #fff;}
.contact-wrapper .letter-wrapper .title-wrap > div {display: flex; flex-direction: column; align-items: flex-start; justify-content: center; width: 100%; height: 100%; position: absolute; top: 0; left: 0; padding: 0 10%;}
.contact-wrapper .letter-wrapper .title-wrap h3.title {font-size: 2.5em; margin-bottom: .5em;}
.contact-wrapper .contact-wrapper {border-top: 2px solid #333; border-bottom: 1px solid #bbb;}
*/
/* 
.contact-wrapper .letter-wrapper .title-wrap {position: absolute; color: #fff; top: 0; left: 0; width: 100%; height: 100%; display: flex; flex-direction: column; align-items: flex-start; justify-content: center; padding: 0 10%;} 
*/
.contact-wrapper h3.title {font-size: 2.5em; margin-bottom: .5em; text-align: left;}
.contact-wrapper h4.title {text-align: left;}
.contact-wrapper .letter-wrapper .title-wrap {position: absolute; color: #fff; top: 0; left: 0;  left: 10%; top: 50%; transform: translateY(-50%);}

.contact-wrapper .mail-wrapper {border-top: 2px solid #333; border-bottom: 1px solid #ddd; display: flex; align-items: center; justify-content: center;}
.contact-wrapper .mail-wrap {flex: 80% 0 0;}
.contact-wrapper .mail-wrap .title-wrap {margin-bottom: 2em;}

.contact-wrapper .mail-form .form-input {display: flex;}
.contact-wrapper .mail-form .mail-input {flex-grow: 1; border: 1px solid #bbb; padding: 0 1em;}
.contact-wrapper .mail-form .mail-input::placeholder {color: #bbb; font-size: 1.25em;}
.contact-wrapper .mail-form .mail-input:focus {border: 1px solid #b38859;}
.contact-wrapper .mail-form .mail-send {flex-shrink: 0; background-color: #333; color: #fff; padding: 1.5em 2.5em; transition: all .5s;}
.contact-wrapper .mail-form .mail-send:disabled {background-color: #bbb;}

.contact-wrapper .mail-form .valid-alert {margin: 1em 0; padding: .75em 1em; background-color: #eb7e34; color: #fff; display: none; border-radius: 4px; position: relative;}
.contact-wrapper .mail-form .valid-alert::before {display: block; content: ''; width: 0px; height: 0px; border-top: 10px solid none; border-bottom: 10px solid #eb7e34; border-right: 10px solid transparent; border-left: 10px solid  transparent; position: absolute; top: -10px; left: 10%;}
.contact-wrapper .mail-form .valid-alert.active {display: inline-block;}

.contact-wrapper .mail-form .form-check {margin-top: 1em;}
.contact-wrapper .mail-form .agree-mail {margin-top: 0;}



/********************** cookie-wrapper *********************/
.cookie-wrapper {position: fixed; z-index: 100; width: 100%; left: 0; bottom: 0; background: rgba(0, 0, 0, .7); backdrop-filter: blur(6px); padding: 3em 0; color: #fff;}
.cookie-wrapper .cont-wrap {display: flex; justify-content: space-between;}
.cookie-wrapper .cont-wrap > p {flex: 90% 0 1; font-size: 1.125em; font-weight: 300; line-height: 1.75; margin-bottom: 1em;}
.cookie-wrapper .cont-wrap > i {font-size: 2em; cursor: pointer;}


/********************** modal-wrapper *********************/
.modal-video .modal-wrap {flex: 80% 0 1;}
.modal-video .modal-top {padding: .5em 0; font-size: 2em; color: #ddd; text-align: right;}
.modal-video .modal-center video {width: 100%;}
.modal-video .modal-bottom {padding: 2em 0; text-align: center;}



/********************** 반응형 설정 *********************/
@media (max-width: 1399px) {
	
}

@media (max-width: 1199px) {
	
}

@media (max-width: 991px) {
	
}

@media (max-width: 767px) {
	
}

@media (max-width: 575px) {
	
}