/********************** main-wrapper *********************/
.main-wrapper {}
.main-wrapper .slide-stage {width: 100%; height: 100vh; overflow: hidden; position: relative;}
.main-wrapper .slide {width: 100%; height: 100%; position: absolute; top: 0; left: 0; overflow: hidden;}
.main-wrapper .slide > img,
.main-wrapper .slide > video
{min-height: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}


/********************** dream-wrapper *********************/



/********************** promo-wrapper *********************/



/********************** style-wrapper *********************/



/********************** room-wrapper *********************/



/********************** svc-wrapper *********************/



/********************** sns-wrapper *********************/



/********************** contact-wrapper *********************/



/********************** cookie-wrapper *********************/



/********************** 반응형 설정 *********************/
@media (max-width: 1399px) {
	
}

@media (max-width: 1199px) {
	
}

@media (max-width: 991px) {
	
}

@media (max-width: 767px) {
	
}

@media (max-width: 575px) {
	
}