.vscode/*
!.vscode/css.code-snippets
!.vscode/html.code-snippets
!.vscode/javascript.code-snippets
*.code-workspace

# Local History for Visual Studio Code
.history/

node_modules

# Icon
# webfonts
# bsfonts
